<!DOCTYPE html>
<html>
<head>
    <title>PyData Kampala</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
</head>
<body>
    

    

<div class="uk-position-relative uk-background-center-center uk-background-cover" style="background-image: url('https://uikitbase.com/library/Blurred Crowd of People Walking.jpg');" uk-height-viewport>
	<div class="uk-position-cover uk-cover-container">
		<video autoplay loop playsinline muted uk-cover>
			<source src="https://uikitbase.com/library/Blurred Crowd of People Walking.mp4" type="video/mp4">
		</video>
	</div>
	<div class="uk-position-cover" style="background-image: linear-gradient(to right top, rgba(195, 55, 100, 0.9), rgba(166, 42, 111, 0.9), rgba(130, 38, 117, 0.9), rgba(87, 38, 118, 0.9), rgba(29, 38, 113, 0.9));"></div>
	<nav class="uk-navbar-container uk-navbar-transparent uk-light">
		<div class="uk-container">
			<div uk-navbar>
				<div class="uk-navbar-left">
					<a href="#" class="uk-navbar-item uk-logo">
						<img src="https://uikitbase.com/library/logo-light.png" alt="Logo">
					</a>
				</div>
				<div class="uk-navbar-center">
					<ul class="uk-navbar-nav uk-visible@m">
						<li class="uk-active"><a href="#">Home</a></li>
						<li>
							<a href="#">Services</a>
							<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li><a href="#">Ocean freight forwarding</a></li>
									<li><a href="#">Customs house brokerage</a></li>
									<li><a href="#">Transportation & Distribution</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#">News</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
				</div>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav uk-visible@m">
						<li>
							<div class="uk-navbar-item">
								<a href="#" class="uk-button uk-button-small uk-button-default">Request a quote</a>
							</div>
						</li>
					</ul>
					<a href="#offcanvas-menu" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle></a>
				</div>
			</div>
		</div>
	</nav>
	<div class="uk-position-relative uk-container uk-container-small uk-flex uk-flex-middle" uk-height-viewport="offset-top: true">
		<div class="uk-section uk-section-regular uk-width-1-1 uk-light">
			<div class="uk-flex uk-text-center uk-flex-middle uk-flex-center">
				<div class="uk-width-1-1">
					<h1 class="uk-heading-small">WE PROVIDE HIGHEST QUALITY FREIGHT SERVICES</h1>
					<div class="uk-text-lead">With 60 years of experience, we have become one of the largest logistics and freight forwarding companies.</div>
					<div class="uk-margin-large-top">
						<p>
							<a href="#" class="uk-button uk-button-default uk-button-xlarge">View all services</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% comment %}  section two {% endcomment %}


{% comment %} end section two {% endcomment %}


		<div class="uk-visible-toggle" uk-slider="autoplay: false">
			<div class="uk-position-relative">
				<div class="uk-slider-container uk-box-shadow-medium uk-background-primary-light">
					<ul class="uk-slider-items uk-child-width-1-1">
						<li>
							<div class="uk-grid-collapse" uk-grid>
								<div class="uk-width-1-2@s">
									<img src="https://source.unsplash.com/ELYUBrnvLtg/800x800" alt="Image">
								</div>
								<div class="uk-width-expand@s uk-flex uk-flex-middle">
									<div class="uk-padding-large">
										<h3 class="uk-text-uppercase uk-h5 uk-letter-spacing-small">Our Best Projects</h3>
										<h2 class="uk-heading-small uk-margin-medium-top">Education</h2>
										<div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
										</div>
										<hr class="uk-margin-medium-top uk-separator-small">
										<h3 class="uk-margin-remove uk-text-uppercase uk-h5 uk-letter-spacing-small">
											<a href="#">View Details<span class="uk-margin-left" uk-icon="arrow-right"></span></a>
										</h3>
									</div>
								</div> 
							</div>
						</li>
						<li>
							<div class="uk-grid-collapse" uk-grid>
								<div class="uk-width-1-2@s">
									<img src="https://source.unsplash.com/2LgJiWdDdO4/800x800" alt="Image">
								</div>
								<div class="uk-width-expand@s uk-flex uk-flex-middle">
									<div class="uk-padding-large">
										<h3 class="uk-text-uppercase uk-h5 uk-letter-spacing-small">Our Best Projects</h3>
										<h2 class="uk-heading-small uk-margin-medium-top">Technology</h2>
										<div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
										</div>
										<hr class="uk-margin-medium-top uk-separator-small">
										<h3 class="uk-margin-remove uk-text-uppercase uk-h5 uk-letter-spacing-small">
											<a href="#">View Details<span class="uk-margin-left" uk-icon="arrow-right"></span></a>
										</h3>
									</div>
								</div> 
							</div>
						</li>
					</ul>
				</div>
				<div class="uk-hidden@l">
					<a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
					<a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
				</div>
				<div class="uk-visible@l">
					<a class="uk-position-center-left-out uk-slidenav-large" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
					<a class="uk-position-center-right-out uk-slidenav-large" href="#" uk-slidenav-next uk-slider-item="next"></a>
				</div>
			</div>
		



{% comment %} footer section {% endcomment %}

<section class="uk-section uk-section-primary uk-light">
	<div class="uk-container">
		<div class="uk-width-3-4@m uk-margin-auto uk-padding-large">
			<div class="uk-text-center">
				<h2 class="uk-h3 uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet ipsum tortor, ac aliquet dui porta a.</h2>
			</div>
			<div class="uk-margin-medium-top">
				<div uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
					<form>
						<div class="uk-grid-small" uk-grid>
							<div class="uk-width-expand@s uk-first-column">
								<input type="email" class="uk-input uk-form-large uk-width-1-1 uk-border-pill" placeholder="Email Address">
							</div>
							<div class="uk-width-1-1 uk-width-auto@s">
								<input type="submit" value="Subscribe" class="uk-button uk-button-primary uk-button-large uk-border-pill">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% comment %} end footer section {% endcomment %}
    <script src="{% static 'static/script.js' %}"></script>
</body>
</html>
