<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %} Index{% endblock %}

{% block content %}
<div class="uk-navbar-container">
    <nav class="uk-navbar">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>

{% endblock %}
